* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    background-color: rgb(59, 59, 59);
}

/* NAV */
nav {
    background-color: black;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

nav section {
    display: flex;
    justify-content: space-between;
    height: 70px;
}

nav ul {
    display: flex;
}

nav ul li {
    padding-right: 10px;
}


.contBtnNav {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.contNavar {
    display: flex;
    justify-content: center;
    font-size: large;
}

.contNavar ul {
    display: flex;
    gap: 150px;
}

#btnCarrito,
#btnCliente {
    background-color: rgb(102, 102, 102);
    border-radius: 5px;
    padding: 2px;

}

#btnCarrito:hover,
#btnCliente:hover {
    background-color: #817e7e;
    color: #fff;
    border-color: #333;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

#campoBusqueda {
    width: 100%;
    text-align: center;
    align-content: center;
}

.logoNav {
    width: 150px;
}

/* MAIN*/
main {
    flex: 1;
    padding: 20px;
    color: white;
}

.carruselOferta {
    padding: 10px;
    background-color: #6b6969;
    border-radius: 5px;
}

.carousel-item h2 {
    font-size: 25px;
    text-align: center;
}

.contProductos {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    margin-top: 50px;
}

.card {
    width: 100%;
    background: #6b6969;
    text-align: center;
    display: flex;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    color: black;
    padding: 10px 5px;
}


.btnComprar,
#finalizarCompra {
    width: 80%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    background-color: #bdb3b362;
    border-radius: 5px;
}

.btnComprar:hover,
#finalizarCompra:hover {
    background-color: #333;
    color: #fff;
    transition: background-color 0.2s
}

.card img {
    width: 45%;
}

#formularioLogin {
    margin: 10px;
    text-align: end;
}

#formularioLogin input {
    border-radius: 5px;
}

#formularioLogin label {
    font-size: 20px;
}


/*finalizacion de compra main**/
#compraFinal {
    width: 100%;
    height: 100%;
    background-color: #6b6969;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
}

.infoAdicional {
    margin-top: 20px;
    font-size: 25px;
    height: 200px;
}

.textFinal {
    margin-top: 20px;
    color: white;
}

.formPago {
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formPago h2 {
    color: #16202e;
}

.formPago input,
.formPago select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
}

.formPago .fila {
    display: flex;
    gap: 10px;
}

.formPago label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.formPago button {
    padding: 12px;
    background-color: #1c1f26;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formPago button:hover {
    background-color: #33363d;
}

.carroVacio {
    display: flex;
    align-items: center;
}


/**MAIN CONTACTO**/
.secContacto {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.contenedorForm {
    margin-top: 65px;
}

.formContac {
    background-color: #f5f5f5;
    padding: 2rem;
    border-radius: 12px;
    max-width: 700px;
    margin: auto;
}

.filaForm {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.filaForm input {
    flex: 1;
    padding: 0.75rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

textarea {
    width: 100%;
    padding: 0.75rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    resize: none;
    font-size: 1rem;
    margin-bottom: 1rem;
}

button {
    background-color: #1f2b3d;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 999px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #16202e;
}

.mapa {
    width: 400px;
    height: 200px;
}


/*FOOTER*/
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

/* MEDIA QUERIES */
@media (min-width: 10px) and (max-width: 440px) {
    .logoNav {
        width: 90px;
    }

    #campoBusqueda {
        display: none;
    }

    .contBtnNav {
        font-size: small;
    }

    .contNavar {
        font-size: small;
        width: 100%;
        height: 100%;

    }

    .contNavar ul {
        padding: 0px;
        gap: 10px;
        height: 100%;
        margin-bottom: 0px;
    }

    #formularioLogin {
        width: 100%;
        display: flex !important;
        flex-direction: column;
        align-items: baseline;
    }

    #formularioLogin label {
        font-size: small;
    }

    #formularioLogin input {
        width: 100%;
        margin-top: 5px;
    }

    #btnIngresar {
        width: 30%;
        margin-top: 5px;
        font-size: small;
    }

    .carousel-item h2 {
        font-size: small;
    }

    .contProductos {
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

    .card p {
        font-size: small;
    }

    .btnComprar {
        font-size: x-small;
        width: 80%;
    }

    #resumenCarrito {
        font-size: small;
    }

    footer p {
        font-size: small;
    }

    h1 {
        font-size: medium;
    }

    p {
        font-size: small;
    }

    .list-group {
        font-size: small;
    }

    h5,
    h3,
    h4 {
        font-size: medium;
    }

    #finalizarCompra {
        font-size: x-small;
        width: 80%;
    }
    #resumenCarrito{
        width: 80% !important;
    }
    #compraFinal {
        flex-direction: column;
        align-items: center;
    }
    #compraFinal ul{
        font-size: small;
    }
    .formPago {
        width: 90%;
    }
    .formPago h2 {
        font-size: medium;
    }
    .formPago input, .formPago select {
        font-size: small;
    }
    #pagar {
        width: 50%;
        font-size: small;
    }
}
@media (min-width: 441px) and (max-width: 544px) {
    .logoNav {
        width: 90px;
    }

    #campoBusqueda {
        display: none;
    }

    .contBtnNav {
        font-size: small;
    }

    .contNavar {
        font-size: small;
        width: 100%;
        height: 100%;

    }

    .contNavar ul {
        padding: 0px;
        gap: 10px;
        height: 100%;
        margin-bottom: 0px;
    }

    #formularioLogin {
        width: 100%;
        display: flex !important;
        flex-direction: column;
        align-items: baseline;
    }

    #formularioLogin label {
        font-size: small;
    }

    #formularioLogin input {
        width: 100%;
        margin-top: 5px;
    }

    #btnIngresar {
        width: 30%;
        margin-top: 5px;
        font-size: small;
    }

    .carousel-item h2 {
        font-size: small;
    }

    .contProductos {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    .card p {
        font-size: small;
    }

    .btnComprar {
        font-size: x-small;
        width: 80%;
    }

    #resumenCarrito {
        font-size: small;
    }

    footer p {
        font-size: small;
    }

    h1 {
        font-size: medium;
    }

    p {
        font-size: small;
    }

    .list-group {
        font-size: small;
    }

    h5,
    h3,
    h4 {
        font-size: medium;
    }

    #finalizarCompra {
        font-size: x-small;
        width: 80%;
    }
    #resumenCarrito{
        width: 80% !important;
    }
    #compraFinal {
        flex-direction: column;
        align-items: center;
    }
    #compraFinal ul{
        font-size: small;
    }
    .formPago {
        width: 90%;
    }
    .formPago h2 {
        font-size: medium;
    }
    .formPago input, .formPago select {
        font-size: small;
    }
    #pagar {
        width: 50%;
        font-size: small;
    }
}
@media (min-width: 545px) and (max-width: 768px) {
    .logoNav {
        width: 90px;
    }

    .contBtnNav {
        font-size: medium;
    }

    .contNavar {
        font-size: medium;
        width: 100%;
        height: 100%;

    }

    .contNavar ul {
        padding: 0px;
        gap: 10px;
        height: 100%;
        margin-bottom: 0px;
    }

    #formularioLogin {
        width: 30%;
        display: flex !important;
        flex-direction: column;
        align-items: baseline;
    }

    #formularioLogin label {
        font-size: medium;
    }

    #formularioLogin input {
        width: 100%;
        margin-top: 5px;
    }

    #btnIngresar {
        width: 50%;
        margin-top: 5px;
        font-size: medium;
    }

    .carousel-item h2 {
        font-size: medium;
    }

    .contProductos {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    .card p {
        font-size: medium;
    }

    .btnComprar {
        font-size: medium;
        width: 80%;
    }

    #resumenCarrito {
        font-size: medium;
    }

    footer p {
        font-size: medium;
    }

    h1 {
        font-size: large;
    }

    p {
        font-size: medium;
    }

    .list-group {
        font-size: medium;
    }

    h5,
    h3,
    h4 {
        font-size: large;
    }

    #finalizarCompra {
        font-size: medium;
        width: 80%;
    }
    #resumenCarrito{
        width: 80% !important;
    }
    #compraFinal {
        flex-direction: column;
        align-items: center;
    }
    #compraFinal ul{
        font-size: medium;
    }
    .formPago {
        width: 90%;
    }
    .formPago h2 {
        font-size: medium;
    }
    .formPago input, .formPago select {
        font-size: small;
    }
    #pagar {
        width: 50%;
        font-size: small;
    }
}
